.buttn {
  background-color: rgba(255, 255, 0, 0.295) !important;
  color: white !important;
  transition: all ease-in-out 0.5s !important;
  -webkit-transition: all ease-in-out 0.5s !important;
  -moz-transition: all ease-in-out 0.5s !important;
  -ms-transition: all ease-in-out 0.5s !important;
  -o-transition: all ease-in-out 0.5s !important;
}
.buttn:hover {
  color: black !important;
}

.loader_bg {
  display: flex;
  position: fixed;
  z-index: 999999999;
  background: #111;
  width: 100%;
  height: 100%;
}
.loader {
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
  border: 0 solid transparent;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.loader::before,
.loader::after {
  content: "";
  border: 1em solid #fff;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  animation: loader 2s linear infinite;
  -webkit-animation: loader 2s linear infinite;
  opacity: 0;
}
.loader::before {
  animation-delay: 0.5s;
}
@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(2.5);
    -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
  }
}
/* .loader-it{
  border: 3px solid #ff5373;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}
.loader-i{
  border: 3px solid #ff5373;
  width: 147px;
  height: 147px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
} */

.box-item {
  margin-bottom: 30px;
}
.card-service {
  height: 100%;
  margin-bottom: 0 !important ;
  background-color: #111;
  border: 1px solid #424242;
  transition: cubic-bezier(0.57, 0.11, 0.27, 0.9) 0.3s;
}
.card-service:hover {
  transform: translateY(-8px);
  box-shadow: 0px 0px 20px 0px #2b2a2a;
  transition: all 0.5s ease-in-out;
}

.li-padding li {
  padding-left: 0 !important;
}

.lead {
  color: #fff;
  font-size: 25px;
  margin-top: 25px;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.runbox {
  position: absolute;
  bottom: 50px;
  border-radius: 4px;
  left: 0;
  width: 100%;
  background-color: #79d70f;
  opacity: 0;
  transition: all ease 0.6s;
  -webkit-transition: all ease 0.6s;
  -moz-transition: all ease 0.6s;
  -ms-transition: all ease 0.6s;
  -o-transition: all ease 0.6s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.education:hover .runbox {
  opacity: 1;
  bottom: -100px;
  left: 0;
  transition: all ease 1s;
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
  -ms-transition: all ease 1s;
  -o-transition: all ease 1s;
}
.runbox p {
  text-align: center;
  padding: 4px 10px;
  color: #fff !important;
  opacity: 1 !important;
  line-height: 28px !important;
}

.skills {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(49, 48, 48);
  box-shadow: 0px 0px 10px 0px #000000;
  padding: 20px 20px;
  border: 1px solid #111;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.skills li {
  background-color: #79d70f;
  border-radius: 5px;
  padding: 5px 6px;
  color: #fff;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}

.skills li:hover {
  transform: translateY(-8px);
  box-shadow: 0px 0px 25px 0px #1f1e1e;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

ul {
  list-style: none;
  padding: 0;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.potfolio-grid li {
  background-color: #79d70f;
  border-radius: 5px;
  padding: 5px 6px;
  color: #fff;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}
.potfolio-grid li:hover {
  box-shadow: 0px 0px 10px 0px #969693;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}
.potfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
